

.header {
  display: grid;
  margin: 92px 24px 96px 24px;
  grid-template-columns: 2fr 148px 185px 267px;
}

.header__menu {
  display: flex;
  justify-self: start;
  align-self: center;
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.18px;
  padding-left: 26px;
  text-underline-offset: 3px;
}

.header__menu-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  list-style-type: circle;
  justify-content: flex-start;
}

.header__logo {
  justify-self: center;
  display: block;
  width: 148px;
  background-position: center;
}

.header_logo-image {
  width: 100%;
}

.header__contacts {
  grid-column: 4/5;
  display: flex;
  flex-direction: column;
  color: #000;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  letter-spacing: 0.18px;
  text-underline-offset: 3px;
}

.header__contacts-tel {
  white-space: nowrap;
}

.header__contacts-mail {
  white-space: nowrap;
}

.header__contacts-address {
  white-space: wrap;
}

.content-section {
  box-sizing: border-box;
}

/* .overlay {
  background: #000; 
} */

.cover {
  min-height: 757px;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.cover-title-h1 {
  display: flex;
  color: #FFF;
  font-family: Raleway, sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 30px;
  text-transform: uppercase;
  flex-direction: column;
  gap: 20px;
  padding: 165px 50px 237px 50px;
}

.accent-span {
  display: flex;
}

.content__on {
  line-height: 100%;
}

.content__teb {
  line-height: 100%;
  justify-content: center;
}

.content__n {
  line-height: 100%;
  justify-content: flex-end;
  margin-right:-0.35em;
}

.cover-title-words-button {
  display: flex;
  padding-bottom: 51px;
  padding-left: 78px;
  padding-right: 50px;
  justify-content: space-between;
  align-items: center;
}

.cover-title-h2 {
  display: inline-block;
  color: #FFF;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 1rem;
} 

.cover-title-button {
  display: block;
  text-align: center;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  padding: 12px 32px;
  background-color: transparent;
  color: #FFF;
  border: 1px solid white;
}

.lots {
  margin: 179px 24px 146px;
  min-height: 692px;
}

.lots__h2 {
  padding-left: 40px;
  padding-bottom: 27px;
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;  
}

.lots__main-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap:25px;
  align-items: stretch;
}

.lots__son-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  min-height: 563px;
  padding: 51px 40px;
  margin-bottom: 30px;
}

.lots__son-container-1 {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/card-lot-01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.lots__son-container-2 {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/card-lot-02.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.lots__son-container-3 {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/card-lot-03.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.lots__son-container-h3 {
  color: #FFF;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.lots__son-container-text {
  color: #FFF;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  text-decoration: none;
}

.lots__see-more {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  padding-left: 40px;
  text-underline-offset: 3px;
}

.about {
  display: grid;
  max-width: 1052px;
  grid-template-columns: 240px 693px;
  grid-template-rows: 240px 1fr;
  grid-column-gap: 72px;
  padding-top: 35px;
  padding-left: 47px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 181px;
}

.about__logo {
  display: flex;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: #000;
  max-width: 240px;
  max-height: 240px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.about__logo-image {
  max-width: 148px;
  max-height: 114px;

}

.about__auction {
  display: flex;
  justify-items: center;
  align-items: center;
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.about__mix-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about__par {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  max-width: 1000px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 88px;
}

.footer__menu-item {
  list-style-type: none;
  display: flex;
  justify-content: center;
  color: #000;
  text-align: center;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__icons {
  display: flex;
  height: 48px;
  gap: 48px;
}